# Template containing environment variable values evaluated by `make` and
# forwarded to docker compose.
# Please, copy this template `Makefile.env.dist` file to `Makefile.env` and
# modify variable values at your heart's content.

FQDN :=
DATABASES_VERSION :=
SERVERS_VERSION :=
