################################################################################
# Makefile.env.dist
#
# This file contains various environment variables that alter the way
# TrinityCore components are built or run.
#
# This is a template file. In order to use it, copy it to the same directory
# with the `Makefile.env` file name.
#
# This file structure is important and parsed by the `make init` target.
# Therefore, you can change variable values but do not touch anything else of
# the `make init` target may fail.
################################################################################

################################################################################
# SECTION INDEX
#
# HOST MACHINE CONFIG
# CLIENT CONFIG
# RUN CONFIG
#
################################################################################

################################################################################
# HOST MACHINE CONFIG
################################################################################

# Indicates if we use Docker Desktop or not. Docker desktop forces us to relax
# some constraints regarding docker-in-docker. For instance, it's particularly
# difficult if not almost impossible to run docker within a container with a
# non root user.
# This project has started using docker in a linux environment where such
# difficulty does not exist. This is this variable and of course code
# associated to its interpretation that allow the Docker Desktop support.
# Example: 1
USE_DOCKER_DESKTOP = 0

################################################################################
# CLIENT CONFIG
################################################################################

# The absolute path of the World of Warcraft client directory. Note that only
# the 3.3.5a-12340 version is supported. This directory must reside on your
# docker host machine.
# Example: `/home/docker/WoW-3.3.5a-12340/`
CLIENT_PATH =

################################################################################
# RUN CONFIG
################################################################################

# The absolute or relative path of the configuration file you use for your
# worldserver to run. This file must reside on your docker host machine. Note:
# the provided file may be modified to allow the server to run. Variable
# susceptible to be altered are:
# - DataDir
# - LoginDatabaseInfo
# - WorldDatabaseInfo
# - CharacterDatabaseInfo
# - Console.Enable
# - SOAP.Enabled
# - SOAP.IP
# Example: /home/docker/worldserver.conf
WORLDSERVER_CONF_PATH = worldserver.conf

# The absolute or relative path of the configuration file you use for your
# authserver to run. This file must reside on your docker host machine. Note:
# the provided file may be modified to allow the server to run. Variable
# susceptible to be altered are:
# - LoginDatabaseInfo
# - Updates.EnableDatabases
# Example: /home/docker/authserver.conf
AUTHSERVER_CONF_PATH = authserver.conf

# The name of the administrator account that will be used to remotely execute
# commands with the worldserver_console service.
# Rules to respect for this account name are the same as for any other
# TrinityCore account.
# Note: This account is really not intended to be used to create playable
# characters but only for executing worldserver command using remote access.
# Therefore, ensure the account is sufficiently secured with a strong password
# and username, should you decide to expose your servers to a public network.
# Example: MY_FANCY_ADMIN_ACCOUNT
ADMIN_ACCOUNT_NAME =

# The password of the administrator account that will be used to remotely
# execute commands with the worldserver_console service.
# Rules to respect for this account password are the same as for any other
# TrinityCore account.
# Example: SUPER_SECRET_PASSWORD
ADMIN_ACCOUNT_PASSWORD =

# The address of the realm of id 1. Note that this is the distant ip address of
# the realm, not the local one. If your realm is located on your local area
# network, this is the address of the machine it is hosted on.
# For this project scope, it is your docker host machine.
# Should you have a dynamic DNS system running on your system, you have to
# setup the realm address according to your publicly exposed host name.
# Example: 192.168.1.100, this should be the IP address of your docker host
# machine
REALMLIST_ADDRESS =
