################################################################################
# Makefile.maintainer.env.dist
#
# This file contains various environment variables that alter the way
# TrinityCore components are built or run. It is designed to be tweaked by a
# maintainer of this project.
#
# This is a template file. In order to use it, copy it to the same directory
# with the `Makefile.maintainer.env` file name.
################################################################################

################################################################################
# SECTION INDEX
#
# DB UPDATE
# BUILD CONFIG
# ECOSYSTEM CONFIGURATION
#
################################################################################

################################################################################
# DB UPDATE
################################################################################

# The URI where to fetch the latest full TDB world database dump archive.
# Usually, this is something you can find in the release section of the
# trinitycore github project. You may have to update this from time to time,
# usually, the lifetime of this archive is several months.
# TODO: find out a way to get the latest release
TDB_FULL_URI := https://github.com/TrinityCore/TrinityCore/releases/download/TDB335.24041/TDB_full_world_335.24041_2024_04_10.7z

# The name of the archive file fetched from the TDB_FULL_URI variable. Usually,
# it's the last part of the URI but it might be suceptible to change.
TDB_FULL_ARCHIVE_FILE_NAME := TDB_full_world_335.24041_2024_04_10.7z

# The name of the sql file containing the full world database dump. Usually,
# this is the same name as TDB_FULL_ARCHIVE_FILE_NAME but the extension is sql.
TDB_FULL_SQL_FILE_NAME := TDB_full_world_335.24041_2024_04_10.sql

################################################################################
# BUILD CONFIG
################################################################################

# A namespace to differentiate built images. It is used as a part of the
# identifier of produced docker images. Don't hesistate to put your very own
# here, be creative!
# Example: trinitycore.test.local
NAMESPACE := trinitycore.test.local

# The version you want to give to your produced databases service docker image.
# Using SemVer versioning system is generally a good idea. using `latest` is
# discouraged.
# Example: 0.1.0
DATABASES_VERSION := 0.1.0

# The version you want to give to your produced builder service docker image.
# Using SemVer versioning system is generally a good idea. using `latest` is
# discouraged.
# Example: 0.1.0
BUILDER_VERSION := 0.1.0

# The version you want to give to your produced ide service docker image.
# Using SemVer versioning system is generally a good idea. using `latest` is
# discouraged.
# Example: 0.1.0
IDE_VERSION := 0.1.0

# The version you want to give to your produced worldserver_console service
# docker image. This service provide remote access to the worldserver via SOAP
# protocol.
# Using SemVer versioning system is generally a good idea. using `latest` is
# discouraged.
# Example: 0.1.0
WORLDSERVER_CONSOLE_VERSION := 0.1.0

# The version you want to give to your produced authserver service docker
# image.
# Using SemVer versioning system is generally a good idea. using `latest` is
# discouraged.
# Example: 0.1.0
AUTHSERVER_VERSION := 0.1.0

# The version you want to give to your produced worldserver service docker
# image.
# Using SemVer versioning system is generally a good idea. using `latest` is
# discouraged.
# Example: 0.1.0
WORLDSERVER_VERSION := 0.1.0
#
# Indicate if pre existing cached client data can be used to build the
# worldserver service image. It is generally a good thing to let it enabled by
# default unless you want to re-generate client data because their versions
# have changed.
# Example: 1
USE_CACHED_CLIENT_DATA := 1

################################################################################
# ECOSYSTEM CONFIGURATION
################################################################################

# The default docker compose project name should do the job.
# Change this variable value when you want to have concurrent compose project
# running in parallel for whatever reasons.
COMPOSE_PROJECT_NAME := trinitycore-in-docker

# Indicates if we use Docker Desktop or not. Docker desktop forces us to relax
# some constraints regarding docker-in-docker. For instance, it's particularly
# difficult if not almost impossible to run docker within a container with a
# non root user.
# This project has started using docker in a linux environment where such
# difficulty does not exist. This is this variable and of course code
# associated to its interpretation that allow the Docker Desktop support.
# Example: 1
USE_DOCKER_DESKTOP := 1

# The TrinityCore git repository used. Can be the official or a fork.
# The https remote is used prefarably to the ssh because of ease of use.
REPOSITORY_URI := https://github.com/TrinityCore/TrinityCore.git

# The URI where to fetch raw source file tracked by the git repository. This
# URI is usefull to fetch some file outside of the clone repository process.
# For instance, it's used to fetch configuration files for the authentication
# server and the world server.
# The default value points to the official TrinityCore repository. You may have
# to change it if you want to work on your own fork.
RAW_REPOSITORY_URI := https://raw.githubusercontent.com/TrinityCore/TrinityCore

# The branch or tag to check out in the TrinityCore repository for the build
# process.
REPOSITORY_REV := 3.3.5

# The specific commit to check out in the TrinityCore repository. May be left
# empty.
# It's useful to change it if you're working on a branch and you want to test
# newest commit without having to delete the entire docker build cache each
# time.
REPOSITORY_SHA :=

# The ssh public key file path targetting the public key to use to interact
# with your git repository.
SSH_PUBLIC_KEY_FILE_PATH := ~/.ssh/id_rsa.pub

# The ssh secret key file path targetting the secret key to use to interact
# with your git repository.
SSH_SECRET_KEY_FILE_PATH := ~/.ssh/id_rsa

# In the ide service, the neovim revision to checkout and build. Default that
# is master is perfectly fine and compliant with the live-at-head philosophy of
# neovim.
IDE_NEOVIM_REV := master

# In the ide service, the Node.js version to install. Feel free to update it
# when new releases are available.
# TODO: find out a way to get the latest LTS release number
NODEJS_VER := v21.5.0
