################################################################################
# Makefile.env.dist
#
# This file contains various environment variables that alter the way
# TrinityCore components are built or run.
#
# This is a template file. In order to use it, copy it to the same directory
# with the `Mafile.env` file name.
################################################################################

################################################################################
# SECTION INDEX
#
# BUILD CONFIG
# CLIENT CONFIG
# RUN CONFIG
#
################################################################################

################################################################################
# BUILD CONFIG
################################################################################

# A namespace to differentiate built images. It is used as a part of the
# identifier of produced docker images. Don't hesistate to put your very own
# here, be creative!
# Example: test.local
NAMESPACE :=

# The version you want to give to your produced databases service docker image.
# Using SemVer versioning system is generally a good idea. using `latest` is
# discouraged.
# Example: 0.1.0
DATABASES_VERSION :=

# The version you want to give to your produced servers_and_tools_builder
# service docker image.
# Using SemVer versioning system is generally a good idea. using `latest` is
# discouraged.
# Example: 0.1.0
SERVERS_AND_TOOLS_BUILDER_VERSION :=
#
# The version you want to give to your produced worldserver_console service
# docker image. This service provide remote access to the worldserver via SOAP
# protocol.
# Using SemVer versioning system is generally a good idea. using `latest` is
# discouraged.
# Example: 0.1.0
WORLDSERVER_CONSOLE_VERSION :=

# The version you want to give to your produced authserver service docker
# image.
# Using SemVer versioning system is generally a good idea. using `latest` is
# discouraged.
# Example: 0.1.0
AUTHSERVER_VERSION :=

# The version you want to give to your produced worldserver service docker
# image.
# Using SemVer versioning system is generally a good idea. using `latest` is
# discouraged.
# Example: 0.1.0
WORLDSERVER_VERSION :=
#
# Indicate if pre existing cached client data can be used to build the
# worldserver service image. It is generally a good thing to let it enabled by
# default unless you want to re generated client data because their versions
# have changed.
# Example: 1
USE_CACHED_CLIENT_DATA :=

################################################################################
# CLIENT CONFIG
################################################################################

# The absolute path of the World of Warcraft client directory. Note that only
# the 3.3.5a-12340 version is supported. This directory must reside on your
# docker host machine.
# Example: `/home/docker/WoW-3.3.5a-12340/`
CLIENT_PATH :=

################################################################################
# RUN CONFIG
################################################################################

# The absolute path of the configuration file you use for your worldserver to
# run. This file must reside on your docker host machine.
# Note: the provided file may be modified to allow the server to run. Variable
# susceptible to be altered are:
# - DataDir
# - LoginDatabaseInfo
# - WorldDatabaseInfo
# - CharacterDatabaseInfo
# - Console.Enable
# - SOAP.Enabled
# - SOAP.IP
# Example: /home/docker/worldserver.conf
WORLDSERVER_CONF_PATH :=

# The absolute path of the configuration file you use for your authserver to
# run. This file must reside on your docker host machine.
# Note: the provided file may be modified to allow the server to run. Variable
# susceptible to be altered are:
# - LoginDatabaseInfo
# - Updates.EnableDatabases
# Example: /home/docker/authserver.conf
AUTHSERVER_CONF_PATH :=

# The name of the administrator account that will be used to remotely execute
# commands with the worldserver_console service.
# Rules to respect for this account name are the same as for any other
# TrinityCore account.
# Note: This account is really not intended to be used to create playable
# characters but only for executing worldserver command using remote access.
# Example: MY_FANCY_ADMIN_ACCOUNT
ADMIN_ACCOUNT_NAME :=

# The password of the administrator account that will be used to remotely
# execute commands with the worldserver_console service.
# Rules to respect for this account password are the same as for any other
# TrinityCore account.
# Example: SUPER_SECRET_PASSWORD
ADMIN_ACCOUNT_PASSWORD :=

# The address of the realm of id 1. Note that this is the distant ip address of
# the realm, not the local one. If your realm is located on your local area
# network, this is the address of the machine it is hosted on.
# For this project scope, it is your docker host machine.
# Should you have a dynamic DNS system running on your system, you have to
# setup the realm address according to your publicly exposed host name (Not
# Tested yet)
# Example: 192.168.1.100, this should be the IP address of your docker host
# machine
REALMLIST_ADDRESS :=
